* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: #121f3d;
}

body {
  font-size: 1.6rem;
  width: 90%;
  margin: 3rem auto;
  border-radius: 1rem;
  background-color: #1a2d58;
  padding: 2rem 2rem;
  color: white;
}

#root {
  border: 0.4rem solid #28468b;
  padding: 1.6rem 0;
}

@media (min-width:800px) {
  body {
    width: 720px;
  }

  body #root .html-mask .change-container {
    width: 680px;
  }
}